<html>
<body>
	<div>
<img src="./uploadedimage.jpg" width="400" height"400"/>
</div>

<form action="/symptomaticquestions" method="post">
		<input type="submit" id="next" name="next" value="Next"/>
</form>

</body>
</html>
