<html>
<body>
<link href="img.css" rel="stylesheet" type="text/css">
	<div>

<form action="/symptomaticquestions" enctype="multipart/form-data" method="post">
	<img src="Images/uploadedimage.jpg"/>
    <input type="submit" id="next" name="next" value="Next"/>
</form>
</div>
</body>
</html>
