<html>
<body>
<link href="img.css" rel="stylesheet" type="text/css"-->
	<div >
<img src="uploadedimage.jpg"/>

<form action="/symptomaticquestions" method="post">
    <input type="submit" id="next" name="next" value="Next"/>
</form>

</div>
</body>
</html>
