<html>
<body>
<link href="img.css" rel="stylesheet" type="text/css">
	<div>
		<img src="file:/Users/livpetrillo/Desktop/hackathon/techtogether19/img_upload/public/Images/uploadedimage.jpg"/>
</div>

<form action="/symptomaticquestions" method="post">
    <input type="submit" id="next" name="next" value="Next"/>
</form>
</body>
</html>
